
<html >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Show</title>
    </head>
    <body>
      <h1>   Corse name : <%= course.CourseTitle %></h1> <br/>
     <p>   Description :  <%=course.Description  %></p>
     <img src= <%=course.ImageUrl %> />
        <p>  Price :  <%=course.Price  %></p><br/>
     <p>   Start Date: <%=course.StartDate  %></p><br/>
<p> End Date : <%=course.EndDate  %></p><br/>

        <a href="/corses"> back</a>
    </body>
    </html>